/* Song Album */
#SongAlbumContainer{
    position:absolute;
    top:50%;
    border:1px solid lightgreen;
}

.songCover{
    display:block;
    position:absolute;
    background:dodgerblue;
    cursor:pointer;
}

/* 进度条效果 */
#GainControl{
    position: relative;
    width: 200px;
    height: 6px;
    background: rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px #000 inset;
    cursor:pointer;
}
#GainControl .space{
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: dodgerblue;
    -webkit-border-radius: inherit;
}
#GainControl .handle{
    position: absolute;
    width: 6px;
    height: 100%;
    -webkit-border-radius: inherit;
    top: 0px;
    right:0px;
    background: #fff;
    display:none;
}


/*canvas audio*/
#cvs {
    bottom: 0px;
    z-index:-10;
}


/*伪元素设置背景图半透明*/
.section1bg_width:before{
    background: url(http://localhost:56498/static/img/bgGuiltyCrome.png) no-repeat bottom right;
    background-size: auto 100%;
    opacity:0.3;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.section1bg_height:before{
    background: url(http://localhost:56498/static/img/bgGuiltyCrome.png) no-repeat bottom right;
    background-size: 100% auto;
    opacity:0.3;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
/*
    雷达 时钟    
*/

#FilterBar{
    /*
    opacity:0;
    -webkit-animation-name:RadarEffect; 
    */
    
    -webkit-transform-origin:right bottom;
    -webkit-transform:rotate(0deg);
    /*
        background-image: -webkit-gradient(radial, 0% 100%, 300, 0% 100%, 500, from(transparent), to(lightgreen));
    */
    -webkit-animation-name:RadarEffect;
    -webkit-animation-duration:5s;
    -webkit-animation-delay:5s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
}

@-webkit-keyframes RadarEffect{
    /*
        durationtime:3s    
    */
    0%{
        opacity:1;
        -webkit-transform:rotate(0deg);
    }
    1%{
        
        -webkit-transform:rotate(6deg);
        background-image: -webkit-gradient(radial, 0% 100%, 300, 0% 100%, 500, from(transparent), to(lightgreen));
    }
    60%{
         -webkit-transform:rotate(360deg);
        background-image: -webkit-gradient(radial, 0% 100%, 300, 0% 100%, 500, from(transparent), to(lightgreen));
    }
    75% {
        opacity:1;
        -webkit-transform:rotate(360deg);
        background-image: none;
    }
    85%{
       opacity:0;
        background-image: none;
        -webkit-transform:rotate(360deg);
    }
    100%{
         opacity:1;
        -webkit-transform:rotate(360deg);
        background-image: none;
    }
}

/* Menu */


.FirstMenuArrowUp_Effect
{
    -webkit-animation-name: FirstMenuArrowUpEffect;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	/*-webkit-animation-direction: alternate;*/
	-webkit-animation-play-state: running;
}
@-webkit-keyframes FirstMenuArrowUpEffect /* Safari and Chrome */ { 
	
	20%
	{
        height:20px;
        top:-20px;
	}
	100%
	{
        height:15px;
        top:-15px;
	}
	
}
.FirstMenuArrowDown_Effect
{

    -webkit-animation-name: FirstMenuArrowDownEffect;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	/*-webkit-animation-direction: alternate;*/
	-webkit-animation-play-state: running;
}
@-webkit-keyframes FirstMenuArrowDownEffect /* Safari and Chrome */ { 
	
	20%
	{
        height:25px;
        top:-10px;
	}
	100%
	{
        height:25px;
        top:-16px;
	}
	
}
.circleEffect{
	-webkit-animation-name: CircleEffect;
	-webkit-animation-duration: 3.6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	/*-webkit-animation-direction: alternate;
    真心没搞懂怎么交替的
    */
	-webkit-animation-play-state: running;
	/*-webkit-transition-property: font-size, color;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
    */  
}

@-webkit-keyframes CircleEffect /* Safari and Chrome */ { 
	25% 
	{
        -webkit-box-shadow: 0 0 100px 20px #fff,inset 0 0 50px 0px #fff;
        /*
	    margin-top:-240px;
	    margin-left:-240px;
		border:40px solid #fff;
		border-radius:240px;
	    */
    }
	100% 
	{
        -webkit-box-shadow: 0 0 100px 0px #fff,inset 0 0 50px 0px #fff;
        /*
	    margin-top:-240px;
	    margin-left:-240px;
		border:40px solid #fff;
		border-radius:240px;
	    */
    }
	
}
.rotateEffect{
	-webkit-animation-name: RotateEffect;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-play-state: running;
}


@-webkit-keyframes RotateEffect /* Safari and Chrome */ { 
	100% 
	{
	    -webkit-transform:rotate(-720deg); /* Safari and Chrome */
	     left:-50% /* Safari and Chrome */
	}
}


.moveEffect{
	-webkit-animation-name: moveEffect;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-play-state: running;
}
@-webkit-keyframes moveEffect /* Safari and Chrome */ { 
	100% 
	{
	    left:-50% /* Safari and Chrome */
	}
}

.circleShine {
    -webkit-animation-name: circleShineEffect;
	-webkit-animation-duration: 1.0s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0s;
	/*-webkit-animation-play-state:paused;*/
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes circleShineEffect /* Safari and Chrome */ { 
    50% 
	{
	    -webkit-box-shadow: 0 0 100px 200px #fff,inset 0 0 100px 5px #fff;
        border-color:#fff;
	}
	100% 
	{
	    -webkit-box-shadow: 0 0 100px 2000px #fff,inset 0 0 200px 200px #fff;
        border-color:#FFF;
	}
}