body,div,ul,li
{
   margin:0px;
   padding:0px; 
	
}
li
{
    list-style:none;
}
.hidden
{
    display:none;   
 }
#MainContainer
{
    height:100%;
    width:100%;
}

.CircleZoom
{
    width:400px;
    height:400px;
    left:50%;
    top:50%;
    margin-top:-200px;
    margin-left:-200px;
    position:absolute;
    z-index:50;
       
}
#UserName 
{
    position:relative;
    margin-left:50px;  
    margin-top:120px;
    width:300px;
    height:40px;
    text-align: center;
    font-size: 30px;
    color:#bbb;
    font-weight: bolder;
    border: 0px;
    border-bottom:4px solid #888;
}
#LoginBtn 
{
    font-family: Aharoni;
	width:100px;
	height:100px;
	margin:auto;
	margin-top:45px;
	border:8px solid #999;
	border-radius:20px;
	cursor:pointer;
    
    vertical-align: middle;
    line-height:100px;
    text-align: center;
    font-size: 28px;
    color:#999;
    font-weight: bold;
}
.CircleOut 
{
    height:400px;
    width:400px;
    margin:auto;
    position:absolute;
	
	top:50%;
	left:50%;
	margin-top:-210px;
	margin-left:-210px;
    
	border:10px solid #aaa;
    border-radius:230px;
}
.CircleIn 
{
    height:400px;
    width:400px;
    margin:auto;
    position:absolute;
    
	top:50%;
	left:50%;
	margin-top:-213px;
	margin-left:-213px;
	border:13px solid #aaa;
    border-radius:230px;
}
#BaselineCircle
{
    position:fixed;
    top:50%;
    margin-top:210px;
    height:6px;
    background-color:#aaa;
    z-index:200;
    width:0px;
}
/* Menu CSS Start*/
#Baseline {
    position: absolute;
    height: 6px;
    background-color: #aaa;
    z-index: 200;
    width: 100%;
    bottom: 100px;
}
#BaselineMainContainer 
{
    margin:auto;
    position:relative;
	height:6px;
}

.FirstMenuArrowDown
{
    border-width:15px;
    border-style:solid;
    border-color:#fff #aaa #aaa #aaa;
    border-bottom: 0px;
}
.FirstMenuArrowUp
{
    border-width:15px;
    border-style:solid;
    border-color:#AAA transparent;
    border-top: 0px;
}
#FMArrowContainer
{
    width:30px;
    height:15px;
	position:absolute;
    overflow:hidden;
}
#MainMenu
{
    font-family:Aharoni;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 100px;
    z-index: 150;
}
#FirstMenuUL
{
    position:relative;
    margin:auto;
    overflow:hidden;
}

.first-class-li
{
    position:relative;
    float:left;
    font-size:20px;
    text-align:center;
    background-color:transparent;
    color: #999;
	cursor: pointer;
}
.first-class-li-hover
{
    position:relative;
    float:left;
    font-size:20px;
    text-align:center;
    background-color:#ccc;    
    color:#fff;
    cursor: pointer;
	   
}
.menuSelected
{   
    font-size:26px;
    color:#fff;
    background-color:#aaa;
    z-index:100;
}
#FMViewZoom {
	position:absolute;
	overflow: hidden;
}
.fm-container-hover
{
    position: absolute;
    text-align: center;
}

#SecondMenu
{
    font-family:  Agency FB;
    font-weight: bolder;
    width:auto;
    position:absolute;
    height:auto;
}
.second-menu-ul
{
    height:auto;
    position:relative;
    float:left;    
    z-index:50;
}
#SecondMenuContainer
{
    width: auto;
    position: relative;
    margin: auto;
    bottom: 0px;
}
.second-class-li
{    
    height: 0px;
    color:#fff;
    left: 0px;
    overflow:hidden;
}
.third-li-content {
    position:relative;
    float:left;
    text-align: center;
    background-color:#ddd;
}
.second-class-li.selected .second-li-content
{    
    color:#fff;
    background-color:#aaa;  
}
.second-class-li.selected .sm-arrow-right
{    
    border: 25px solid transparent;
    border-left-color:#aaa;
    border-right: 0px;
}

.second-li-content
{    
    height: 50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    position:relative;
    float:left;
    cursor: pointer;
    background-color:#ddd;
}
#SM_LeftBar
{
    width: 4px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #AAA;
}

.sm-arrow-container {
    width: 25px;
    height: 50px;
    position:relative;
    float:left;
    overflow:hidden;
}

.sm-arrow-right {
    border: 25px solid transparent;
    border-left-color:#ddd;
    border-right: 0px;
}

/* Third Menu*/
#ThirdMenu
{
    position:absolute;
    width:auto;
    height:auto;  
    z-index:45;
}
#ThirdMenuUl
{
    position:relative;
    width:auto;
    height:auto;
 }
 .third-class-li
 {
     position:relative;
     color:#fff;
     text-align:center; 
     margin: 0px 25px;
     cursor:pointer;
     overflow:hidden;
     width:0px;
 }
  .third-class-li_hover
 {
     background-color:#aaa;
     color:#FFF;
 }
.TMArrowContainerR
{
    width: 25px;
    height: 50px;
    overflow: hidden;
    position: relative;
    float:left;
}
.TMArrowContainerL
{
    width:25px;
    height:50px;
    overflow:hidden;
    position:relative;
    float:left; 
}
.TMArrowLeft{
    border: 25px solid transparent;
    border-color: transparent #ddd transparent transparent;
    border-left: 0px;
}
.TMArrowRight{
    border: 25px solid transparent;
    border-left-color: #ddd;
    border-right: 0px;
}
.third-class-li.selected .third-li-content {
    background-color:#aaa;
}
.third-class-li.selected .TMArrowLeft{
    border-right-color:#aaa;
}
.third-class-li.selected .TMArrowRight{
    border-left-color: #aaa;
}

#ForthMenu
{
    position:absolute;
    left:321px;
    width:175px;
    height:auto;  
}
#ForthMenuUl
{
    position:relative;
    width:auto;
    height:auto;
 }

/* Menu CSS End*/

